<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Finance Tracker</title>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/handlebars/handlebars.js"></script>
  <script src="/bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="/calendar.js"></script>

  <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.css">
</head>
<body>
  <h1>Calendar</h1>
  <div id="calendar"></div>
</body>
</html>